:root {
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  font-size: 16px;
  font-weight: 400;

  color-scheme: light dark;
  color: rgb(0, 0, 0);
  background-color: #ffffff;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

body {
  display: flex;
}

.front-page {
  width: 85vw;
  height: 85vh;
  overflow: hidden;
  margin: 5vh auto;
  box-shadow: 1rem 1rem 10rem black;
  border-radius: 2rem;
}

.nav-bar {
  margin: 2rem 0 0 3rem;
  width: 50vw;
  height: 5vh;
  display: flex;
  justify-content: space-evenly;
}

a {
  text-decoration: none;
  color: rgb(71, 71, 71);
  border-radius: 0.5rem 0.5rem 0 0;
}

a:hover {
  color: rgb(0, 0, 0);
  text-decoration: underline;
}

.social {
  margin-right: 8rem;
  text-align: right;
  padding: 2rem;
}

.social a {
  margin-left: 5rem;
}

.social a i {
  margin-right: 0.5rem;
  font-size: 1rem;
}

.img-container {
  text-align: right;
}

.img-container img {
  height: 65vh;
  position: relative;
  margin-right: 5rem;
  border-radius: 2rem;
}

.content-container {
  display: flex;
}

.copy-container {
  padding: 3rem;
  width: 100%;
  margin-left: 3rem;
  margin-right: 5rem;

}

.bigDuke {
  position: relative;
  top: 10%;
  left: 3rem;
  font-size: 248px;
  font-family: 'Times New Roman', Times, serif;
  font-weight: 900;
  letter-spacing: -10px;
  line-height: 200px;
  display:flex;
}

.bigAmy {
  display: block;
  position: relative;
  top: 25%;
  left: 2rem;
  font-size: 48px;
  font-family: 'Times New Roman', Times, serif;
  font-weight: 900;
  letter-spacing: -2px;
  display:flex;
  // justify-content: flex-end;
  // flex-direction: column;

}

.creds {
  line-height: 1.8rem;
  text-align: right;
  font-weight: 600;
  // margin-top: 6rem;
  // margin-left: 3rem;
  // font-family:;
  color: rgb(87, 87, 87);
  margin-left:10rem;

  .stats{
    display:flex;
    justify-content: center;
    margin-bottom:2rem;
    span{
      font-size: 2.5rem;
      &:nth-child(2){
        margin-left:2rem;
        // margin-right:-0.2rem;
      }
    }
  }

  span {
    display: block;
    // color: black;
   
    // &:nth-child(1) {
    //   animation-delay: 500ms;
    //   margin-left:0.5rem;
    // }

    // &:nth-child(2) {
    //   animation-delay: 700ms;
    //   margin-left:1rem;

    // }

    // &:nth-child(3) {
    //   animation-delay: 900ms;
    //   margin-left:1.5rem;

    // }

    // &:nth-child(4) {
    //   animation-delay: 1100ms;
    //   margin-left:2rem;

    // }

    // &:nth-child(5) {
    //   animation-delay: 1300ms;
    //   margin-left:2.5rem;
    // }

    // &:nth-child(6) {
    //   animation-delay: 1600ms;
    //   margin-left:3rem;

    // }
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes fromTheLeft {
  from {
    // opacity: 0;
    transform: translateX(-3%);
  }

  to {
    // opacity: 1;
    transform: translateX(0);
  }
}

