:root {
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  font-size: 16px;
  font-weight: 400;
  color-scheme: light dark;
  color: #000;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -webkit-tap-highlight-color: transparent;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-color: #fff;
}

.menu {
  position: relative;
  margin-top: 1rem;
  z-index: 1;
}

.menu ul {
  position: absolute;
  display: flex;
  width: 100%;
  justify-content: space-evenly;
  list-style: none;
  margin: 0;
  padding: 0;

}

.menu ul li {
  cursor: pointer;
}

.menu ul li a {
  color: rgba(0, 0, 0, 0.469);
  text-decoration: none;
  font-size: 1.1rem;
}

.menu ul li a:hover {
  color: #0000003e;

}


body {
  margin: 0;
  padding: 0;
  height: 99vh;
  width: 99vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

.menu-toggle {
  display: none;
}

.main-container {
  background-color: #f5f5f5;
  padding: 0 2rem;
  box-shadow: 1rem 1rem 10rem #000;
  border-radius: 2rem;
  display: flex;
  flex-direction: column;
  align-items: space-evenly;
  height: 90%;
  width: 80%;
  position: relative;
}

.content-container {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  height: 100%;
  width: 100%;
  position: relative;
}

.socials {
  position: absolute;
  bottom: 2rem;
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  z-index: 1;
}

.socials a {
  color: rgba(0, 0, 0, 0.469);
}

.socials a i {
  margin-right: 0.5rem;
  font-size: 1.5rem;
  position: relative;
  top: 0.3rem;
}

.copy-container {
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;
  align-items: center;
  height: 100%;
  max-width: 60%;
}

.img-container {
  height: 80%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 2rem;
  overflow: hidden;
  position: relative;
}

.photoCred {
  position: absolute;
  bottom: 0;
  right: 0;
  font-size: 0.8rem;
  color: #000000;
  background-color: rgba(255, 255, 255, 0.223);
  padding: 0.5rem;
  border-radius: 1rem 0 0 0.3rem;
}

.photoCred a {
  color: white;
}

.img-container img {
  max-height: 130%;
  object-fit: cover;
  border-radius: 2rem;
}

.creds {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  height: 100%;

  .aduke-container {
    order: 2;
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: absolute;
    bottom: 5rem;
    left: 0;
    background-image: linear-gradient(to right, #f5f5f5 50%, rgba(0, 131, 179, 0));
    padding: 0 3rem;
    z-index: 1;

    .aDuke {
      .bigDuke {
        position: relative;
        font-size: 23vw;
        font-family: 'Times New Roman', Times, serif;
        font-weight: 900;
        letter-spacing: -10px;
        line-height: 120px;
      }

      .bigAmy {
        display: block;
        position: relative;
        top: 3rem;
        right: 1rem;
        font-size: 6vw;
        font-family: 'Times New Roman', Times, serif;
        font-weight: 900;
        letter-spacing: -2px;
      }
    }

    .pro-fighter {
      // border-top: 2px solid black;
      text-align: center;
      width: fit-content;
      // background-color: rgba(255, 255, 255, 0.348);
      // border-radius: 2rem;
      font-weight: 500;

    }
  }

  .stats-titles-container {
    display: flex;
    // justify-content: space-evenly;
    height: 40%;
    position: relative;
    top: 6rem;

    .stats {
      display: flex;
      flex-direction: column;
      justify-content: space-evenly;

      span {
        font-size: 2.5rem;
      }

      div {
        p {
          margin: 0;
          margin-top: -0.5rem;
          margin-left: 0.5rem;
        }
      }
    }

    .titles {
      display: flex;
      flex-direction: column;
      height: 100%;
      justify-content: space-evenly;
      border-left: 5px solid black;
      margin: 1rem;
      padding-left: 1rem;
      min-width: max-content;
    }

  }
}


// ------media queries------

@media screen and (max-width:1024px) {
  .creds {
    .stats-titles-container {
      flex-direction: column;

      .stats {
        flex-direction: row;
      }

      .titles {
        border-left: unset;
        border-top: 5px solid black;
        padding-top: 1rem;
      }
    }
  }
}

@media screen and (max-width: 800px){
  .creds .stats-titles-container{
    display:none;
  }
}


// @media screen and (max-width: 800px) {
//   :root {
//     --primary-font-size: 0.8rem;
//     --secondary-font-size: 0.8rem;
//     --tertiary-font-size: 0.8rem;

//   }

//   .socials a {
//     color: white;
//   }

//   body {
//     all: unset;
//     margin: 0;
//     padding: 0;
//   }

//   .menu-toggle {
//     position: fixed;
//     height: 50px;
//     width: 50px;
//     top: 2rem;
//     right: 20px;
//     cursor: pointer;
//     z-index: 9999;
//     display: block;
//   }

//   .hamburger {
//     width: 30px;
//     height: 3px;
//     background-color: #000;
//     margin-bottom: 5px;
//     transition: all 0.3s ease-in-out;
//   }

//   .menu {
//     all: unset;
//     position: fixed;
//     top: -100%;
//     right: 0;
//     width: 100%;
//     // height: 100%;
//     border-radius: 0 0 20% 0;
//     background-color: rgba(255, 255, 255, 0.845);
//     // box-shadow: 0 0 10px rgba(0, 0, 0, 0.598);
//     z-index: 999;
//     transition: top 0.3s ease-in-out;
//   }

//   .menu ul {
//     all: unset;
//     list-style-type: none;
//     padding: 0;
//     margin: 30px 30px;
//     text-align: left;
//   }

//   .menu ul li {
//     position: relative;
//     right: 3rem;
//     padding: 0.5rem;
//     padding-left: 5rem;
//     width: 100%;

//   }


//   .menu ul li:hover {
//     background-color: #0000003e;
//     color: #fff;
//   }

//   .menu ul li a {
//     text-decoration: none;
//     color: #2d2d2d;
//     font-size: 18px;
//     font-weight: 700;

//   }

//   .menu.active {
//     top: 0;
//   }

//   .hamburger.active {
//     transform: rotate(45deg);
//   }

//   .hamburger.active:before,
//   .hamburger.active:after {
//     transform: rotate(90deg);
//     top: 0;
//   }

//   .hamburger:before,
//   .hamburger:after {
//     content: "";
//     position: absolute;
//     width: 30px;
//     height: 3px;
//     background-color: #000;
//   }

//   .hamburger:before {
//     top: -10px;
//   }

//   .hamburger:after {
//     top: 10px;
//   }

//   .main-container {
//     all: unset;
//   }

//   .content-container {
//     all: unset;
//   }

//   .img-container {
//     // position: absolute;
//     height: 100vh;
//     // border-radius: 0rem;

//     img {
//       // width: 100%;
//       // height: 100%;
//       // object-fit: cover;
//       // border-radius: 0rem;
//     }
//   }

//   .copy-container {
//     position: absolute;
//     bottom: 0px;
//     border-radius: 20% 0 0 0;
//     background-color: rgba(255, 255, 255, 0.735);
//     height: unset;
//     max-width: unset;
//     width: 100%;
//     padding-bottom: 2rem;
//     // border-radius: 0 1rem 1rem 0;


//     .creds {
//       display: flex;
//       flex-direction: column;
//       align-items: center;
//       color: black;


//       .aduke-container {
//         order: unset;
//         position: unset;
//         background-image: unset;
//         background-color: #0000001f;

//         .aDuke {
//           color: #000000;
//           right: 0;

//           .bigDuke {
//             font-size: 126px;
//             font-weight: 900;
//             line-height: 100px;
//             letter-spacing: -8px;
//             left: 0;
//           }

//           .bigAmy {
//             font-size: 36px;
//             left: -1.1rem;
//             top: 2.8rem;
//           }
//         }

//         .pro-fighter {
//           border-top: 2px solid black;
//           display: table;
//           margin: 0 auto;
//         }
//       }

//       .stats-titles-container {
//         top: unset;
//         padding: unset;
//         width: 50%;

//         .stats {
//           display: flex;
//           justify-content: space-between;
//           border-bottom: none;

//           span {
//             font-size: 2.5rem;
//           }

//           div {
//             p {
//               margin: 0;
//               margin-top: -0.5rem;
//               margin-left: 0.5rem;
//             }
//           }
//         }

//         .titles {
//           display: none;
//         }

//       }
//     }
//   }

// }

@media screen and (max-height: 500px) {

  .creds .stats-titles-container {
    display: none;
  }

  .content-container {
    justify-content: space-around;
    // width: 100%;
    .aduke-container{
      padding:0;
    }
    .socials {
      flex-direction: column;
    }
  }
}