:root {
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #161616;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}


//on mobile we'll eventually have a nav closed on load and only show the photo gallery background and the hamburger menu button

@media screen and (max-width: 420px) {
  body{
    background-image:url('./img/111.jpg') ;
    background-position: -10rem ;
    background-size:cover;
    height:100vh;
    background-repeat: no-repeat;
  }
  .circle{
    width:8.5rem;
    height:8.5rem;
    border: solid white 2px;
    border-radius: 50%;
    background-color: rgb(40, 110, 176);
    position: absolute; 
    right:2rem;
    top:2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .amy{
    position: relative;
    // bottom:.75rem;
    left:1rem;
  }
  .duke{
    position: relative;
    top:1.5rem;
    right:3rem;
  }
  .circle h3{
    font-size: 0.5rem;
    position: relative;
    bottom:0.5rem;
    left:0.8rem;
  }

  .creds{
    position: relative;
    top:15rem;
    right:2rem;
    // padding:1rem;
    text-align: right;
    font-size: 0.8rem;
    width:100%;
    background-color: rgba(0, 0, 0, 0.614);
    padding:1rem;
    span {
      opacity: 0;
      display: block;
      animation: fromTheLeft 1s, colorChange 5s, fontSizeChange 6s;
      animation-fill-mode: forwards;
      // color: gold;
      &:nth-child(1) {
        animation-delay: 500ms;
      }
      &:nth-child(2) {
        animation-delay: 700ms;
      }
      &:nth-child(3) {
        animation-delay: 900ms;
      }
      &:nth-child(4) {
        animation-delay: 1100ms;
      }
      &:nth-child(5) {
        animation-delay: 1300ms;
      }
      &:nth-child(6) {
        animation-delay: 1600ms;
      }
    }
  }
}

@media screen and (min-width: 420px) {
  body{
    background-image:url('./img/111.jpg') ;
    background-position: -5rem ;
    background-size:cover;
    height:100vh;
    background-repeat: no-repeat;
  }
  .circle{
    width:8.5rem;
    height:8.5rem;
    border: solid white 2px;
    border-radius: 50%;
    background-color: rgb(40, 110, 176);
    position: absolute; 
    right:2rem;
    top:2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .amy{
    position: relative;
    // bottom:.75rem;
    left:1rem;
  }
  .duke{
    position: relative;
    top:1.5rem;
    right:3rem;
  }
  .circle h3{
    font-size: 0.5rem;
    position: relative;
    bottom:0.5rem;
    left:0.8rem;
  }

  .creds{
    position: relative;
    top:15rem;
    right:2rem;
    // padding:1rem;
    text-align: right;
    font-size: 0.8rem;
    width:100%;
    background-color: rgba(0, 0, 0, 0.614);
    padding:1rem;
    span {
      opacity: 0;
      display: block;
      animation: fromTheLeft 1s, colorChange 5s, fontSizeChange 6s;
      animation-fill-mode: forwards;
      // color: gold;
      &:nth-child(1) {
        animation-delay: 500ms;
      }
      &:nth-child(2) {
        animation-delay: 700ms;
      }
      &:nth-child(3) {
        animation-delay: 900ms;
      }
      &:nth-child(4) {
        animation-delay: 1100ms;
      }
      &:nth-child(5) {
        animation-delay: 1300ms;
      }
      &:nth-child(6) {
        animation-delay: 1600ms;
      }
    }
  }
}

@media screen and (min-width: 500px) {
  body{
    background-image:url('./img/111.jpg') ;
    background-position: center;
    background-size:cover;
    height:100vh;
    background-repeat: no-repeat;
  }
  .circle{
    width:8.5rem;
    height:8.5rem;
    border: solid white 2px;
    border-radius: 50%;
    background-color: rgb(40, 110, 176);
    position: absolute; 
    right:2rem;
    top:2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .amy{
    position: relative;
    // bottom:.75rem;
    left:1rem;
  }
  .duke{
    position: relative;
    top:1.5rem;
    right:3rem;
  }
  .circle h3{
    font-size: 0.5rem;
    position: relative;
    bottom:0.5rem;
    left:0.8rem;
  }

  .creds{
    position: relative;
    top:15rem;
    right:2rem;
    // padding:1rem;
    text-align: right;
    font-size: 0.8rem;
    width:100%;
    background-color: rgba(0, 0, 0, 0.614);
    padding:1rem;
    span {
      opacity: 0;
      display: block;
      animation: fromTheLeft 1s, colorChange 5s, fontSizeChange 6s;
      animation-fill-mode: forwards;
      // color: gold;
      &:nth-child(1) {
        animation-delay: 500ms;
      }
      &:nth-child(2) {
        animation-delay: 700ms;
      }
      &:nth-child(3) {
        animation-delay: 900ms;
      }
      &:nth-child(4) {
        animation-delay: 1100ms;
      }
      &:nth-child(5) {
        animation-delay: 1300ms;
      }
      &:nth-child(6) {
        animation-delay: 1600ms;
      }
    }
  }
}







@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fromTheLeft {
  from {
    opacity: 0;
    transform: translateX(-100%);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes colorChange {
  0% {
    color: gold;
  }
  50% {
    color: rgb(255, 248, 209);
  }
  100% {
    color: gold;
  }
}