:root {
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  font-size: 16px;
  font-weight: 400;
  color-scheme: light dark;
  color: #000;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -webkit-tap-highlight-color: transparent;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-color: #fff;
}

.menu {
  position: relative;
  top: 1.5rem;
  z-index: 100;
}

.menu ul {
  position: absolute;
  display: flex;
  width: 100%;
  justify-content: space-evenly;
  list-style: none;
  margin: 0;
  padding: 0;

}

.menu ul li {
  cursor: pointer;
}

.menu ul li a {
  color: rgba(0, 0, 0, 0.469);
  text-decoration: none;
  font-size: 1.1rem;
}

.menu ul li a:hover {
  color: #0000003e;

}


body {
  margin: 0;
  padding: 0;
  height: 99vh;
  width: 99vw;
  display: flex;
  justify-content: center;
  align-items: center;
  color: rgb(0, 0, 0);
}

.menu-toggle {
  display: none;
}

.main-container {
  background-color: #f5f5f5;
  padding: 0 2rem;
  box-shadow: 1rem 1rem 10rem #000;
  border-radius: 2rem;
  display: flex;
  flex-direction: column;
  height: 90%;
  max-width: 85%;
  position: relative;

  .socials {
    position: absolute;
    bottom: 0rem;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    z-index: 1;
    padding: 1rem;

    .link-container {

      a {
        color: rgba(0, 0, 0, 0.469);
        margin-right: 5rem;

      }

      a i {
        margin-right: 0.5rem;
        font-size: 1.5rem;
        position: relative;
        top: 0.3rem;
      }
    }


    .photoCred {
      font-size: 0.8rem;
      color: #000000;
    }

  }
}

.content-container {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  height: 100%;
  width: 100%;
  position: relative;

  // border:#0000001f solid 1px;

}

.copy-container {
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;
  align-items: center;
  height: 100%;
  max-width: 60%;
  padding-top: calc(33.33% / 2);

}

.img-container {
  height: 80%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 2rem;
  overflow: hidden;
  position: relative;
}

.img-container img {
  max-height: 125%;
  object-fit: cover;
  border-radius: 2rem;
}

.creds {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  height: 100%;

  .aduke-container {
    order: 2;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: space-evenly;
    position: absolute;
    bottom: 8rem;
    left: 0;
    background-image: linear-gradient(to right, #f5f5f5 30%, rgba(0, 131, 179, 0));
    padding: 0 3rem;
    padding-bottom: 3rem;
    z-index: 1;

    .aDuke {
      .bigDuke {
        position: relative;
        font-size: 23vw;
        font-family: 'Times New Roman', Times, serif;
        font-weight: 900;
        letter-spacing: -10px;
        line-height: 120px;
      }

      .bigAmy {
        display: block;
        position: relative;
        top: 3rem;
        right: 1rem;
        font-size: 6vw;
        font-family: 'Times New Roman', Times, serif;
        font-weight: 900;
        letter-spacing: -2px;
      }
    }

    .pro-fighter {
      text-align: center;
      width: fit-content;
      font-weight: 500;
      margin-top: 0.5rem;
      margin-bottom: 2rem;
    }
  }

  .stats-titles-container {
    display: flex;
    // margin-top: 10%;
    min-width: max-content;
    flex-direction: column;
    padding: 0 3rem;

    .stats {
      display: flex;
      flex-direction: row;
      justify-content: space-evenly;
      border-bottom: #000 solid 5px;
      padding-bottom: 1rem;

      // border-radius: 1rem;
      // margin-right:2rem;
      span {
        font-size: 3rem;
      }

      div {
        p {
        font-size: 1.3rem;

          margin: 0;
          margin-top: -1rem;
          margin-left: 1rem;
        }
      }
    }

    .award-container {
      display: flex;
      flex-direction: column;
    
      .award {
        border-radius: 0.6rem;
        padding: 1rem;
        cursor: pointer;
        position: relative; /* Needed for positioning the pseudo-element */
    
        h3 {
          margin: 0;
        }
    
        p {
          margin: 0;
          margin-left: 1rem;
        }
    
        /* Add the arrow as a pseudo-element */
        &::after {
          content: '>'; /* This is the arrow symbol */
          position: absolute;
          right: 10px; /* Position it to the right */
          top: 50%; /* Center it vertically */
          transform: translateY(-50%);
          opacity: 0; /* Start invisible */
          transition: opacity 0.3s ease; /* Smooth transition for the fade effect */
        }
    
        &:hover {
          scale: 1.035;
          font-weight: 600;
          background-color: #00000010;
    
          /* Make the arrow visible on hover */
          &::after {
            opacity: 1;
          }
        }
      }
    }
    

    .titles {
      display: flex;
      flex-direction: column;
      height: 100%;
      justify-content: space-evenly;
      margin: 1rem;
      padding-left: 1rem;
      min-width: max-content;
    }

  }
}


// ------media queries------

@media screen and (max-width:1024px) {
  .main-container {
    .socials {
      left: 0rem;
    }
  }

  .creds {

    .stats-titles-container {
      // flex-direction: column;

      // .stats {
      //   flex-direction: row;
      // }

      .titles {
        border-left: unset;
        border-top: 5px solid black;
        padding-top: 1rem;
      }
    }
  }
}

@media screen and (max-width: 880px) {

  .img-container {
    position: relative;
    bottom: 1rem;
  }

  .menu-toggle {
    position: absolute;
    height: 50px;
    width: 50px;
    top: 2.5rem;
    right: 2rem;
    cursor: pointer;
    z-index: 9999;
    display: block;
  }

  .hamburger {
    width: 30px;
    height: 3px;
    background-color: #000;
    margin-bottom: 5px;
    transition: all 0.3s ease-in-out;
  }

  .menu {
    all: unset;
    position: fixed;
    top: -100%;
    right: 0;
    width: 100%;
    border-radius: 0 0 20% 0;
    background-color: rgba(255, 255, 255, 0.845);
    z-index: 999;
    transition: top 0.3s ease-in-out;
  }

  .menu ul {
    all: unset;
    list-style-type: none;
    padding: 0;
    margin: 30px 30px;
    text-align: left;
  }

  .menu ul li {
    position: relative;
    right: 3rem;
    padding: 0.5rem;
    padding-left: 5rem;
    width: 100%;

  }


  .menu ul li:hover {
    background-color: #0000003e;
    color: #fff;
  }

  .menu ul li a {
    text-decoration: none;
    color: #2d2d2d;
    font-size: 18px;
    font-weight: 700;

  }

  .menu.active {
    top: 0;
  }

  .hamburger.active {
    transform: rotate(45deg);
  }

  .hamburger.active:before,
  .hamburger.active:after {
    transform: rotate(90deg);
    top: 0;
  }

  .hamburger:before,
  .hamburger:after {
    content: "";
    position: absolute;
    width: 30px;
    height: 3px;
    background-color: #000;
  }

  .hamburger:before {
    top: -10px;
  }

  .hamburger:after {
    top: 10px;
  }

  .creds {
    position: unset;

    .aduke-container {
      bottom: 2rem;

      .aDuke {
        .bigAmy {
          top: 3.2rem;
        }
      }
    }

    .stats-titles-container {
      display: none;
    }

  }
}

@media screen and (max-width: 660px) {
  .main-container {
    .socials {
      justify-content: left;
      margin-left: 1rem;
      width: unset;

      .link-container {
        a {
          margin-right: 1rem;
        }

      }
    }
  }


}

@media screen and (max-width: 500px) {
  .main-container {
    .creds .aduke-container .aDuke .bigDuke {
      letter-spacing: -7px;

    }

    .socials {
      .link-container {
        a {
          margin-right: 1rem;
        }
      }
    }
  }


}



//////////////////////////
@media screen and (max-height: 800px) {}

@media screen and (max-height: 600px) {
  // .creds .stats-titles-container {
  //   display: none;
  // }

  // .content-container {
  //   justify-content: space-between;

  //   .aduke-container {
  //     padding: 0 1rem;
  //   }

  //   .socials {
  //     a {
  //       margin-left: 2rem;
  //     }
  //   }
  // }
}