:root {
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  font-size: 16px;
  font-weight: 400;

  color-scheme: light dark;
  color: rgb(0, 0, 0);
  background-color: #161616;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}
*{
  margin:0px;
}
body{
  display:flex;
}
header{
  display: flex;
}
.img-container{
  overflow:hidden;
  max-width:40vw;
  border-right:0.3rem white solid;
}
.img-container img{
  height: 100vh;
}
.logo{
  margin:1rem;
  font-size: 2rem;
  font-weight: 600;
  color: white;
  font-style: italic;
  border-top:10px solid white;
  border-bottom:10px solid white;
  height:min-content;
}
.amy{
  position: relative;
  font-weight: 400;
  // border-top:10px solid white;
  // border-bottom:10px solid white;
}
.duke{
  position: relative;
  font-weight: 900;
  // border-top:10px solid white;
  // border-bottom:10px solid white;
}
.nav-bar{
  position: absolute;
  right:0;
  margin:1rem;
  width:40vw;
  height:min-content;
  display: flex;
  justify-content: space-evenly;
  border-bottom: 1px gray solid;

}
.nav-bar a{
  text-decoration: none;
  color: white;
  padding:0.5rem;
  border-radius: 0.5rem 0.5rem 0 0;
  width:120%;
}
.nav-bar a:hover{
  background-color: white;
  color:black;
}




//on mobile we'll eventually have a nav closed on load and only show the photo gallery background and the hamburger menu button


// @media screen and (max-width: 500px) {
//   body{
//     background-image:url('./img/111.jpg') ;
//     background-position: -5rem ;
//     background-size:cover;
//     height:100vh;
//     background-repeat: no-repeat;
//   }
//   .circle{
//     width:8.5rem;
//     height:8.5rem;
//     border: solid white 2px;
//     border-radius: 50%;
//     background-color: rgb(40, 110, 176);
//     position: absolute; 
//     right:2rem;
//     top:2rem;
//     display: flex;
//     flex-direction: column;
//     justify-content: center;
//   }
//   .amy{
//     position: relative;
//     // bottom:.75rem;
//     left:1rem;
//   }
//   .duke{
//     position: relative;
//     top:1.5rem;
//     right:3rem;
//   }
//   .circle h3{
//     font-size: 0.5rem;
//     position: relative;
//     bottom:0.5rem;
//     left:0.8rem;
//   }

//   .creds{
//       // clip-path: polygon(0 0, 0 100%, 100% 100%, 100% 25%, 75% 0);
//     // clip-path: polygon(0% 0%,60% 100%, 100% 100%, 100% 0, 0 0);
//     margin:0;
//     border: 2px solid white;
//     position: relative;
//     top:15rem;
//     left:10%;
//     padding:1rem;
//     font-weight:600;
//     text-align: right;
//     font-size: 0.8rem;
//     width:75%;
//     background-color: rgba(0, 0, 0, 0.614);
//     padding:1rem;
//     animation: fadeIn 3s;
//     span {
//       opacity: 0;
//       display: block;
//       animation: fromTheLeft 1s, colorChange 5s, fontSizeChange 6s;
//       animation-fill-mode: forwards;
//       // color: gold;
//       &:nth-child(1) {
//         animation-delay: 500ms;
//       }
//       &:nth-child(2) {
//         animation-delay: 700ms;
//       }
//       &:nth-child(3) {
//         animation-delay: 900ms;
//       }
//       &:nth-child(4) {
//         animation-delay: 1100ms;
//       }
//       &:nth-child(5) {
//         animation-delay: 1300ms;
//       }
//       &:nth-child(6) {
//         animation-delay: 1600ms;
//       }
//     }
//   }
// }


@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fromTheLeft {
  from {
    opacity: 0;
    transform: translateX(-100%);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes colorChange {
  0% {
    color: white;
  }
  50% {
    color: gold;
  }
  100% {
    color: white;
  }
}